body{
	background-image: url(https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-size: cover;
}

.login  {
    font-family: 'Arsenal', sans-serif;
    width: 25%;
    height: 50%;
    background: #85C88A;opacity: 0.7;;
    position: absolute;
    top: 25%;
    left: 55%;
    padding: 2%;
    border-radius: 20px;    
}

.header {
	position: absolute;
	top: calc(43% - 35px);
	left: calc(60% - 255px);
	z-index: 2;
}