.navbar {
    text-align: center;
}
.form {
    background-color: #a1dda5;
}   
.title {
    font-family:'Fjalla One', sans-serif ;
    text-align: center;
    padding: 10px;
}
.indicadores {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.img {
    width: 70px;
    height: 70px;
}

.indicadores div {
    width: 200px;
    text-align: center;
    
}

.indicadores div h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    margin-bottom: 0px;
}

div p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;;
}
label{
    font-family: 'Quicksand', sans-serif;;
    font-weight: bold;
}

input{
    width: 211px;
    height: 14px;
    margin-bottom: 10px;
    padding: 8px;
    margin-right: -6px;
    background-color: #fdfef7;
    border: #173441 1.8px solid;
    font-family: 'Quicksand', sans-serif;
}   
fieldset {
    margin: auto;
    background-image: url(https://cdn.pixabay.com/photo/2016/02/05/10/13/background-1180666_960_720.jpg);
    background-size: cover;
}

.input-date {
    text-align: center;
}

button{
    background-color: rgb(219, 219, 56);
    border: none;
    width: 100px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;  
    border-radius: 20px;
    padding: 10px;
    margin-left:45%;
    margin-top: 10px;
    margin-bottom: 10px;
}
i{
    background-color: #fdfef7;
    color: rgb(156, 155, 155);
    border: #173441 1px solid;
    padding: 6.8px 8px 9.8px 8px;
    border-left: white;
    margin-bottom: 10px;
}
.tab{
    border-collapse: collapse;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
    background-color: #fdfef7;
    border: #173441 2px solid;
    margin: 0 auto;
    width: 500px;
}
thead{
    border: #173441 2px solid;
    font-weight: bold;
}
tr{
    border: #173441 2px solid;
}
td{
    border: #173441 2px solid;   
}